main {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 48px;
  margin: 5px;
}

.progress-circle {
  width: 60px;
  height: 60px;
  position: relative;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-circle .number {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
}

.progress-circle svg {
  width: 60px;
  height: 60px;
  transform: rotate(-90deg);
}

.progress-circle circle {
  fill: none;
  stroke-width: 8;
  stroke-linecap: round;
}

.progress-circle .bg {
  stroke: #f0f0f0;
}

.progress-circle .progress {
  stroke: #007bff;
  stroke-dasharray: 157;
  /* Approximately 2 * PI * 25 (radius) */
  stroke-dashoffset: 47.1;
  /* 157 * 0.3 to show 70% progress */
}

.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: bisque;
  border: 1px solid black;
  border-radius: 5px;
  gap: 1em;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 5px;
}

.grid-cell {
  background-color: white;
  border: 1px solid black;
  height: 100px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.grid-cell.disabled {
  cursor: not-allowed;
  background-color: #ededed;
}

.x::before {
  content: url('/x.svg');
  width: 75px;
  height: 75px;
  stroke: black;
}

.o::before {
  content: url('/o.svg');
  width: 75px;
  height: 75px;
  stroke: black;
}

.player {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50px;
  height: 50px;
}

.player.o::before,
.player.x::before {
  font-size: 35px;
  opacity: 0.4;
}

.player.turn {
  background-color: rgb(255, 242, 224);
}

.player.winner,
.grid-cell.winner {
  background-color: rgb(152, 217, 178);
}
.player.winner::before {
  opacity: 1;
}

.player.turn::before {
  opacity: 1;
}

.turn-status {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#connection-info {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
  align-items: center;
}

#message {
  flex-grow: 1;
}

#chat {
  border: 1px solid black;
  padding: 1em;
}

form {
  display: flex;
  gap: 0.5em;
}

.game-over {
  display: none;
}

.visible {
  display: block;
}

.restart {
  font-size: 1.5em;
  padding: 0.5em;
}
